<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <Properties>
  
    <Property name="filename">logs/NewsApp.log</Property>
    <Property name="basePatterLayout">%d{ISO8601} [%-5p] (%F:%L) - %m%n</Property>
    <Property name="filePatterLayout">%d{yyyy.MM.dd HH:mm:ss} [%-5p] [%t] %logger{36} (%F:%L) - %m%n</Property>
    
  </Properties>
  
  <appenders>
  
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${basePatterLayout}" />
    </Console>
    
    <File name="FILE" fileName="${filename}">
        <PatternLayout pattern="${filePatterLayout}"/>
    </File>
    
  </appenders>
  
  <loggers>
 
 	<!-- <logger name="by.project.news.dao.impl.UserDB" level="debug" additivity="false">
  		<appender-ref ref="FILE"/>
   	</logger>  -->
  
    <logger name="by.project.news" level="error" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="FILE"/>
    </logger>
  
 <!--    <logger name="by.project.news.controller" level="info" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="by.project.news.service" level="error" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="by.project.news.dao" level="error" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>
    
     <logger name="by.project.news.util" level="warn" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger> -->
    
    <root level="warn">
      <appender-ref ref="STDOUT"/>
    </root>
    
  </loggers>
  
</configuration>